[Unit]
Description=CouchDB Replication Monitor
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/hodlontoyourbutts/replication-monitor:latest
PublishPort=8080:8080
EnvironmentFile=%h/.config/replication-monitor/replication-monitor.env
AutoUpdate=registry
PullPolicy=always

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target